<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Adicionar Formulário</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
    <div class="container">
	<h1>Os seus dados foram adicionados!!</h1>
	<h2>Jussara Darlany - contrate :)</h2>
	<h3>Depois de muito surto, estou feliz!</h3>
	</div>
</body>
</html>